.operator-key {
  color: white;
  font-size: 25px;
  background-color: lightgray;
}

.result-key {
  background-color: lightgreen;
  color: white;
  font-size: 25px;
}

.clear-key {
  color: white;
  background-color: red;
  width: 60px;
  height: 60px;
  margin: 2px 2px;
  font-size: 25px;
}
