@import './../../../shared/main-styles.scss';

.operator-key {
  @include function-button-styles;
  background-color: $bg-button-operator-color;
}

.result-key {
  background-color: $bg-button-equal-color;
  @include function-button-styles;
}

.clear-key {
  @include function-button-styles;
  background-color: $bg-button-clear-color;
  width: 60px;
  height: 60px;
  margin: 2px 2px;
}

