@import './../../main-styles.scss';

.display {
  margin-top: 2px;
  width: 184px;
  height: 56px;
  border: 2px solid $border-display;
  font-size: 20px;
  margin-left: 2px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  outline: 0;
  border-radius: 8px;
  color: $display-numbers-color;
  background-color: $bg-display-color;
  margin-right: 2px;
}

