.button {
  width: 60px;
  height: 60px;
  margin: 2px 2px;
  font-size: 17px;
  background-color: white;
}

.function-button {
  color: white;
  font-size: 25px;
  background-color: lightgray;
}

.clear-button {
  color: white;
  font-size: 25px;
  background-color: red;
}

.result-button {
  background-color: lightgreen;
  color: white;
  font-size: 25px;
}